<p id="notice"><%= notice %></p>

    <% @schedules.each do |schedule| %>
      <div class="row">
        <div class="col span-4-of-4 box">
          <h3><%= schedule.description %></h3>

          <p>    
            <%= schedule.start_at %>
            <%= schedule.end_at %>
            <%= link_to 'Feito', schedule, method: :delete, data: { confirm: 'Are you sure?' } %>       
          </p>
    <% end %>
        </div>
                
      </div>
<br>

<%= link_to 'New Schedule', new_schedule_path %>
