<p id="notice"><%= notice %></p>
  <% count = 0 %>
  <% @schedules.limit(4).each do |schedule| %>
    <div class="row">
      <div class="col span-2-of-6">
      </div>
    
      <div class="col span-2-of-6 events-box">
        <div class="event">
          <div><%= count = count + 1 %></div>
          <h3><%= schedule.description %></h3>
          <p>
            
            <%= schedule.start_at.strftime("%b %d. %Y às %Hhs")%>
            &mdash;
            <%= schedule.end_at.strftime("%b %d. %Y às %Hhs") %>
          </p>
        </div>
      </div>

      <div class="col span-2-of-6">
      </div>

    </div>
    <% end %>  
